*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	/*background-color:black;*/
	background-image:linear-gradient(60grad,#000000,#FFFFFF,#000000);
	height: 100vh;

}

section{
	/*background-color: #18181b;*/
	background-color:#000000;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 100px 15% auto 15%;
	border-radius: 20px;
	padding-bottom: 35px;
	min-width: 340px;	
}

#armazenamento{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;

}

 .pedestal{
 	width: 100%;
 	display: flex;
 	flex-direction: column;
 	margin-top: 30px;
 	
 }

.topo{
	
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 20px;
	
}

.filtroPesquisa{
    display:flex;
    flex-direction:column; 
   
    align-items: center;
	margin-top: 15px;
	margin-bottom: 20px;
	width: 100%;
}

.filtroPesquisa p{
	color:#ffffff;
	font-size: 18px;
}


select{
	border-radius:5px; 
	width: 150px;
	height: 23px;
	background: black;
	outline: none;
	color: #ffffff;
	border: none;
	border: 1px solid #005CF1; 
	

}

.add{
	background-color: white;
	height: 30px;
	border: none;
	width: 40px;
	margin-left:10px; 
	cursor: pointer;
	font-size: 30px;
	color: black;
	border-radius: 5px;
	text-align: center;
	
}

.DivButaoCancelar{
	margin-left:6%;
	display: none;
}

.cancelar{
	height: 30px;
	border: none;
	width: 80px;
	border: 1px solid #005CF1;
	background:#000000;
	color: white; 
	cursor: pointer;
	border-radius: 5px;
	transition: 0.5s; 
}

.cancelar:hover{
	background:#18181b; 
}

.update{
    background: #005CF1;
	height: 30px;
	border: none;
	width: 40px;
	margin-left:25px; 
	cursor: pointer;
	border-radius: 4px;
	display: none;
	transition: 0.5s	
}

.update:hover{
   background:#0A3AA3; 
}

#camp{
	outline: none;
	border:none;
	width:80%;
	height: 30px;
	padding-left: 20px;
	border-radius: 5px;
	
	
	
}

h2{
	color:white;
	margin-top: 10px;
}

.caixaTotal{
	width: 85%;
	display: flex;
	background-color: white;
	min-height: 30px;
	margin-bottom: 25px;
	transition: 0.2s
}

.caixaTotal:hover{
	/*background: #D87071;*/
	/*background:  #18181b;*/
	background:  #696969;
	color: white;
}

.caixaEscrita{
width: 85%;
display: flex;
justify-content: center;
align-items: center;
font-weight: bold;
font-size: 12px;
cursor: pointer;
}

.caixaMarcar{
 width: 44px;
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 background-color: #000000;
}

.caixaEditar{
 width: 44px;
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 background-color: #000000;
}

.caixaApagar{
 width: 44px;
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 background-color: #000000;
}

.marcado{
	background: yellow;
	text-decoration: line-through;
	color: grey;
	opacity: 0.8;
}

@media screen and (max-width: 1000px){
 section{
     margin: 100px 80px auto 80px;
	}

}

@media screen and (max-width: 800px){

	section{
     margin: 100px 30px auto 30px;
     
	}

@media screen and (max-width: 700px){
	section{
     margin: 0px 0px auto 0px;
     border-radius: 0;
	}

}	



@media screen and (max-width: 650px){
	.caixaTotal{
	height: 30px;	
}

.caixaEscrita{
 font-size: 10px;
}

input{
	height: 30px;
	padding-left: 20px;	
}

.add{
	height: 30px;
}
	

 

